.container-1{
    padding:  10px;
    border: 4px solid red;
    width: 75%;
    margin: 0 auto;
    text-align: center;

}
.flex-box-container-1{
    display: flex;
   padding: 10px;
    border: 1px solid black;
    justify-content:space-around;
   
}
.flex-box-container-1 div{
    padding: 10px;
    border: 2px solid green;
    align-items:center;
}

.container-2,.container-3 {
    padding:  10px;
    border: 4px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.flex-box-container-2,.flex-box-rps{
    margin: 0 auto;
    //text-align: center;
    padding: 10px;
    border: 1px solid green;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
.flex-box-container-2 img{
    border: 5px solid red;
    margin:10px;
    width:200;
    height:300;


}

.flex-box-rps img:hover{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(184,4,184,1);
-moz-box-shadow: 10px 10px 5px 0px rgba(184,4,184,1);
box-shadow: 10px 10px 5px 0px rgba(184,4,184,1);

}
